
.botao-primario{
    width: auto;
    outline:none;
    border:0;
    background: lightblue;
    color: white;
    font-weight: 400;
    font-size: 16px;
    padding: 6px 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 1px #0a0a0a20;
    transition: 0.3s linear all;
}

.botao-primario:hover{
    cursor: pointer;
    box-shadow: 0px 0px 3px 1px #0a0a0a50;
    background:blue;
}

.botao-primario:disabled{
    cursor: default;
    opacity: 0.7;
}