<nav class="sidemenu">
    <ul>
        <li routerLink="/home">
            <img src="../../../assets/—Pngtree—european simple  home logo_3174721.png" class="logoImg">
            <span class="logo">Matérias Santas</span>
        </li>
        <li routerLink="/home"><mat-icon>home</mat-icon>Home</li>
        <li routerLink="/materias"><mat-icon>school</mat-icon>Matérias</li>
        <li><a href="https://angular.io/">Angular</a></li>
        <li routerLink="/login" class="logout"><mat-icon>logout</mat-icon>Sair</li>
    </ul>
</nav>