<app-menu></app-menu>

<div class="container-fluid pt-3">
    <div class="row">

        <!-- LADO ESQUERDO -->
        <div class="col-12 col-lg-9">
            <div class="card-info">
                <div class="row">
                     <div class="col-12 col-md-8">
                        <h1 class="titulo">Matérias Santas</h1>
                        <p class="subtitulo">Mais eficiencia no controle de <span>Matérias</span>
                         e notas. Você será santificado e nunca falhará.
                        Agora com o <span>Matérias Santas</span> você pode controlar tudo isso de
                        forma simples e eficiênte.
                        Confira um resumo das informações através do nosso <span>Dashboard</span>
                        </p>
                        <app-button textButton="Iniciar" routerLink="/materias"></app-button>    
                    </div>
                    <div class="col-12 col-md-4">
                        <img src="../../../assets/kisspng-the-last-supper-gospel-of-john-painting-statue-the-last-supper-5b24cb60cc1a25.246167291529138016836.png" width="150%">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <!-- card esquerdo-->
            <div class="col-6">
                <div class="card-info">
                    <div class="row">
                        <div class="col-8">
                            <p class="texto-card">Total de Matérias</p>
                            <p class="numero-card">69</p>
                            <p class="destaque-card">+1 adicionada no ultimo mês</p>
                        </div>
                        <div class="col-4">
                            <mat-progress-spinner 
                            class="exemplo-margin" 
                            [color]="color" 
                            [mode]="mode" 
                            [value]="value">
                            </mat-progress-spinner>
                            <p class="info-spinner">69/150</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- card direita -->
            <div class="col-6">
                <div class="row">
                    <div class="col-8">
                        <p class="texto-card">Total de notas</p>
                        <p class="numero-card">6</p>
                        <p class="destaque-card">+2 adicionada no ultimo mês</p>
                    </div>
                    <div class="col-4">
                        <mat-progress-spinner 
                            class="exemplo-margin" 
                            [color]="color" 
                            [mode]="mode" 
                            [value]="noteValue">
                        </mat-progress-spinner>
                        <p class="info-spinner">4/6</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>