/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

html, body {height: 100%}
body{margin:0;font-family: 'Times New Roman', Times, serif}

:root{
    --primary-color: rgb(33, 103, 126);
    --error-primary: red;
    --gray-color: gray;
}

.c-primary{ color: var(--primary-color);}
.c-error { color: var(--error-primary);}
.cgray { color: var(--gray-color);}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle, .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graph{
    stroke: var(--primary-color) !important;
}