<nav class="sidemenu">
    <ul>
        <li routerLink="/home" class="banner">
            <img src="../../../assets/—Pngtree—european simple  home logo_3174721.png" class="logoImg">
            <span class="logo">Matérias Santas</span>
        </li>
        <li routerLink="/home"><mat-icon>home</mat-icon>Home</li>
        <li routerLink="/materias"><mat-icon>school</mat-icon>Matérias</li>
        <li><mat-icon>church</mat-icon><a href="https://www.vaticannews.va/pt/santo-do-dia.html">Vaticano</a></li>
        <li routerLink="/login" class="logout"><mat-icon>logout</mat-icon>Sair</li>
    </ul>
</nav>